doctype html
html(lang="es")
	head
		title FotoFacilito
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css",rel="stylesheet",media="screen")
	body
		block contenido